USE [HotelDB]
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 20/05/2026 9:32:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[DocumentoIdentidad] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Telefono] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Habitaciones] Fecha de script: 20/05/2026 9:32:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [nvarchar](10) NOT NULL,
	[Piso] [int] NULL,
	[Estado] [nvarchar](20) NULL,
	[TipoHabitacionId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Reservas] Fecha de script: 20/05/2026 9:32:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NULL,
	[HabitacionId] [int] NULL,
	[FechaReserva] [datetime] NULL,
	[FechaEntrada] [datetime] NOT NULL,
	[FechaSalida] [datetime] NOT NULL,
	[MontoTotal] [decimal](18, 2) NULL,
	[Estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TiposHabitacion] Fecha de script: 20/05/2026 9:32:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposHabitacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[PrecioPorNoche] [decimal](18, 2) NOT NULL,
	[Capacidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [DocumentoIdentidad], [Email], [Telefono]) VALUES (1, N'elias ', N'as', N'1235982032', N'eliascordoba101@gmail.com', N'326514478')
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [DocumentoIdentidad], [Email], [Telefono]) VALUES (2, N'andre', N'gonza', N'1865924315', N'jbhvg@gmail.com', N'3625985471')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Habitaciones] ON 

INSERT [dbo].[Habitaciones] ([Id], [Numero], [Piso], [Estado], [TipoHabitacionId]) VALUES (1, N'1', 1, N'Disponible', NULL)
INSERT [dbo].[Habitaciones] ([Id], [Numero], [Piso], [Estado], [TipoHabitacionId]) VALUES (2, N'2', 1, N'Ocupada', NULL)
INSERT [dbo].[Habitaciones] ([Id], [Numero], [Piso], [Estado], [TipoHabitacionId]) VALUES (3, N'3', 3, N'Ocupada', NULL)
SET IDENTITY_INSERT [dbo].[Habitaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservas] ON 

INSERT [dbo].[Reservas] ([Id], [ClienteId], [HabitacionId], [FechaReserva], [FechaEntrada], [FechaSalida], [MontoTotal], [Estado]) VALUES (2, 1, 1, CAST(N'2026-05-19T07:31:01.973' AS DateTime), CAST(N'2026-05-19T00:00:00.000' AS DateTime), CAST(N'2026-05-20T00:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'CheckIn')
INSERT [dbo].[Reservas] ([Id], [ClienteId], [HabitacionId], [FechaReserva], [FechaEntrada], [FechaSalida], [MontoTotal], [Estado]) VALUES (3, 2, 2, CAST(N'2026-05-19T07:47:09.253' AS DateTime), CAST(N'2026-05-19T00:00:00.000' AS DateTime), CAST(N'2026-05-20T00:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'CheckIn')
INSERT [dbo].[Reservas] ([Id], [ClienteId], [HabitacionId], [FechaReserva], [FechaEntrada], [FechaSalida], [MontoTotal], [Estado]) VALUES (4, 2, 3, CAST(N'2026-05-19T08:19:32.197' AS DateTime), CAST(N'2026-05-19T00:00:00.000' AS DateTime), CAST(N'2026-05-20T00:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'CheckIn')
SET IDENTITY_INSERT [dbo].[Reservas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Clientes__049E81A959BA3BB2] Fecha de script: 20/05/2026 9:32:01 a. m. ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[DocumentoIdentidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Habitaciones] ADD  DEFAULT ('Disponible') FOR [Estado]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT (getdate()) FOR [FechaReserva]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT ('Confirmada') FOR [Estado]
GO
ALTER TABLE [dbo].[Habitaciones]  WITH CHECK ADD FOREIGN KEY([TipoHabitacionId])
REFERENCES [dbo].[TiposHabitacion] ([Id])
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD FOREIGN KEY([HabitacionId])
REFERENCES [dbo].[Habitaciones] ([Id])
GO
